html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
}

@font-face {
  font-family: authentic;
  src: url(fonts/authentic.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: authentic;
  src: url(fonts/authentic-bold.otf);
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #e8e2dd;
  color: #262f2e;
  font-family: authentic;
  font-weight: normal;
  font-size: 20px;
  margin: 5px 20px;
}

::selection {
  background: #ef4b25;
}

h1,
h2 {
  font-family: authentic;
  font-size: 1.3em;
  line-height: 1.3;
  margin-bottom: 1.1em;
}

h3 {
  font-size: 14px;
  color: #262f2eaf;
  text-transform: uppercase;
  margin-bottom: 5px;
}

p {
  line-height: 1.35;
}

#bio {
  position: fixed;
  padding: 0.5em;
  max-width: calc(40% - 3em);
  box-sizing: border-box;
  /* background-color: blue; */
}

h1 a {
  display: inline-block;
  color: #262f2e;
  text-decoration: none;
  /* border: 1px solid #262f2e;
  padding: 0px 5px;
  border-radius: 10px; */
}

h1 a:hover {
  color: #ef4b25;
  /* background-color: #8c8c8c; */
}

.contact {
  margin-top: 3em;
}

.contact a {
  border: 1px solid #000000;
  padding: 8px 10px 5px 10px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #262f2e;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0.5em;
}

.work {
  position: relative;
  left: 40%;
  padding: 0.5em;
  max-width: calc(60% - 20px);
  margin-bottom: 3em;
  overflow-x: hidden;
  /* background-color: blue; */
}

.work b {
  font-family: authentic;
  font-weight: bold;
}

.carousel {
  /* display: flex;
  justify-content: space-around;
  align-items: stretch; */
  position: relative;
  float: left;
  margin-bottom: 0.5em;
  width: calc(400% + 4em);
  /* background-color: blue; */
}

.carousel img {
  position: relative;
  float: left;
  left: 0;
  /* % increments by 25, em increments 0.5 ( calc(-25% + 0.5em) )*/
  width: calc(25% - 1em);
  margin-right: 0.5em;
  transition: left 1s;
}

.title-wrapper h2 {
  float: left;
}

.title-wrapper div {
  float: right;
}

.title-wrapper:after {
  clear: both;
  display: table;
  content: "";
}

.arrows {
  position: absolute;
  width: calc(25% - 1em);
  top: calc(50% - 0.5em);
}

.prev {
  position: absolute;
  left: 1em;
}

.next {
  position: absolute;
  right: 1em;
}

.arrows a {
  color: #262f2e;
  text-decoration: none;
}

.paradigm-arrows a {
  color: #fff;
  text-decoration: none;
}

.prototype {
  border: 1px solid #000000;
  padding: 8px 10px 5px 14px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 0.5em;
  font-size: 0.85em;
  color: #262f2e;
  text-transform: uppercase;
  text-decoration: none;
}

.prototype span {
  transform: rotate(-45deg);
  display: inline-block;
  font-size: 1.1em;
}

.ellipses {
  border: 1px solid #000000;
  padding: 5px 16px 5px 16px;
  border-radius: 10px;
  font-size: 1em;
  color: #262f2e;
  text-transform: uppercase;
  text-decoration: none;
}

.ellipses span {
  display: inline-block;
  margin: 4px 2.5px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #262f2e;
}

.less {
  padding: 9px 9px 7px 11px;
  font-size: 0.75em;
}

.contact a:hover,
.prototype:hover,
.ellipses:hover {
  background-color: #8c8c8c;
}

.info-wrapper {
  margin-top: 1.5em;
  display: none;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
}

.about {
  grid-column: 2/4;
  grid-row: 1/3;
}

.year {
  margin-bottom: 3em;
}

.bio-ext {
  display: none;
}

canvas.mess {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.25s;
  /* mix-blend-mode: multiply; */
  /* border: 1px solid red; */
}

canvas.hide {
  opacity: 0;
  transition: opacity 1s;
}
