@font-face {
  font-family: authentic;
  src: url(fonts/authentic.otf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #e3e0de;
  --acccent-color: #ef4b25;
  --custom-black: #262f2e;
  --custom-grey: #262f2eaf;
  --custom-beige: #8c8c8c;
}

body {
  background-color: var(--background-color);
  color: var(--custom-black);
  font-family: authentic;
  font-weight: normal;
  font-size: clamp(16px, 1.35vw, 20px);
  margin: 20px;
  overflow-y: scroll;
  line-height: 1.35;
}

::selection {
  background: var(--acccent-color);
}

h1,
h2 {
  font-family: authentic;
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 1.1em;
}

h3 {
  font-size: 0.8em;
  color: var(--custom-grey);
  text-transform: uppercase;
  margin-bottom: 5px;
}

p,
ul {
  font-size: 1em;
}

h1 a,
p a {
  color: var(--custom-black);
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.main {
  border-bottom: 0px;
}

.main:hover {
  color: var(--acccent-color);
}

h1 a:hover:not(.ellipses),
p a:hover {
  color: var(--acccent-color);
  border-bottom: 2px solid var(--acccent-color);
}

.contact {
  display: flex;
}

.contact a {
  border: 1px solid #000000;
  padding: 8px 10px 5px 10px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #262f2e;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 1em;
  margin-top: 1em;
}

.bio {
  position: fixed;
  padding-right: 0.75em;
  padding-bottom: 1.5em;
  max-width: calc(40% - 3em);
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
}

.work {
  position: relative;
  left: 40%;
  max-width: calc(60% - 20px);
  margin-bottom: 0.75em;
  overflow-x: hidden;
}

.title-wrapper h2 {
  float: left;
}

.title-wrapper div {
  float: right;
}

.title-wrapper:after {
  clear: both;
  display: table;
  content: "";
}

#whitechapel-process img {
  display: none;
}

#whitechapel-process:hover img {
  position: absolute;
  display: block;
  width: 50%;
  transform: translate(10%, -125%);
}

.prototype {
  border: 1px solid #000000;
  padding: 8px 10px 5px 14px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 0.5em;
  font-size: 16px;
  color: #262f2e;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

.prototype span {
  transform: rotate(-45deg);
  display: inline-block;
  font-size: 18px;
}

.ellipses {
  border: 1px solid #000000;
  padding: 8px 16px 5px 18px;
  border-radius: 10px;
  color: #262f2e;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  box-sizing: border-box;
}

.ellipses span {
  display: inline-block;
  margin: 4px 2.5px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--custom-black);
}

#more-bio {
  display: inline-block;
  padding: 6px 16px 3px 18px;
  transform: translate(0, -5px);
}

#less-bio {
  display: inline-block;
  padding: 7px 10px 2px 12px;
  transform: translate(0, -5px);
}

#less-bio:hover {
  font-weight: normal;
  color: #262f2e;
}

.less {
  font-weight: normal;
  padding: 8px 9px 5px 11px;
  font-size: 16px;
  box-sizing: border-box;
}

.contact a:hover,
.prototype:hover,
.ellipses:hover {
  background-color: var(--custom-beige);
}

.info-wrapper {
  display: none;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
}

.about {
  grid-column: 2/4;
  grid-row: 1/3;
}

.year {
  margin-bottom: 3em;
}

.bio-ext {
  display: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img,
.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 0.7em auto;
}

.swiper-button-next {
  background-image: url(images/next-v2.svg);
  background-position: right;
}

.swiper-button-prev {
  background-image: url(images/prev-v2.svg);
  background-position: left;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* SKETCHBOOK */

#sketches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#sketches img,
#sketches video {
  width: 100%;
}

.sketch {
  margin-bottom: 30px;
}

.subtitle {
  color: var(--custom-grey);
}

/* MOBILE */

@media screen and (max-width: 1000px) {
  .bio {
    position: relative;
    max-width: calc(100vw - 1em);
    height: auto;
    padding-right: 0;
  }

  .work {
    position: relative;
    left: 0;
    max-width: 100vw;
  }

  .contact {
    margin-top: 20px;
    flex-direction: row;
  }

  .contact a {
    margin-right: 0.5em;
    margin-bottom: 0;
  }

  .prototype,
  .ellipses,
  .less {
    font-size: 14px;
  }

  .prototype span {
    font-size: 16px;
  }

  .ellipses,
  #more-bio {
    padding-left: 18px;
  }

  .less {
    padding-right: 10px;
    padding-left: 12px;
  }

  #more-bio,
  #less-bio {
    transform: translate(0, -2px);
  }

  #less-bio {
    padding: 5px 12px 3px 12px;
  }
}

footer {
  color: var(--custom-grey);
  padding: 0.5em;
}

@media screen and (max-width: 700px) {
  .title-wrapper span.subtitle {
    display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 14px;
    margin: 10px 7px;
  }

  p,
  ul {
    font-size: 1.1em;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .info-wrapper {
    grid-template-columns: 0;
    grid-gap: 0;
    flex-direction: column;
  }

  .about {
    grid-column: 0;
    grid-row: 0;
  }

  .side-info {
    display: flex;
    justify-content: space-between;
  }

  .prototype,
  .ellipses,
  .less {
    font-size: 12px;
  }

  .prototype,
  .ellipses,
  .contact a {
    border-radius: 8px;
  }

  .prototype span {
    font-size: 14px;
  }

  .prototype {
    padding: 7px 7px 5px 11px;
  }

  .ellipses {
    padding: 7px 10px 5px 12px;
  }

  #more-bio {
    padding: 4px 10px 2px 12px;
  }

  #less-bio {
    padding: 5px 9px 3px 11px;
  }

  .less {
    padding: 7px 9px 5px 11px;
  }

  .contact a {
    margin-bottom: 3em;
    padding: 6px 10px 3px 10px;
  }

  footer {
    padding-top: 1.5em;
  }
}
